@charset "utf-8";
*{ 
	margin:0; 
	padding:0;
	}

body{
	background:url(../images/background.jpg) center top fixed no-repeat;
	}
h1
{
    color:blue;
}
h2
{
    text-indent:30px;
    color:red;
    }
h3,h4,h5,h6
{
    text-indent:30px;
}
tr,td
{
    text-align:center;
    background-color:#DDDDDD;
}
div#content div#noidung div#main div#ndmain img
{
    width: 350px;
    height:200 px;
}


.clear{
	clear:both;
	}

#home{
	width:1200px; 
	height:1000px;
	}
	
#banner{
	width:1004px; 
	height:500px; 
	z-index:1; 
	background-image:url(../images/banner.png)
	}

#menu1{
	position:relative;
	width:533px;
	height:43px;
	top:378px;
	float:left;
	padding-left:100px;
	}

#content{
	width:1004px; 
	background-image:url(../images/content.png)
	}
	
#noidungvamnchucnang{
	z-index:2; 
	width:900px; 
	height:auto;
	}
	
#noidung{
	float:left; 
	width:900px; 
	height:auto; 
	background-color:#FFFFFF
	}
	
#main{
	height:auto;
	}
	
#tdmain
{
    float:left;
    width:650px;
    }

#ndmain{
	height:auto; 
	width:650px; 
	background-color:#FFFFFF;
	float:left;
	text-align:left;
	}
	
#mnthanhvien{
	float:right; 
	width:245px; 
	height:auto;
	}

#thanhvien{
	width:250px; 
	height:374px; 
	background-image:url(../images/khungchudequantam.png);
	}


#footer{
	width:1004px; 
	height:240px; 
	background-image:url(../images/footer.png)
	}
